body{
    font-size: Arial, Verdana, sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
/* Global */
.container{
    width: 800x;
    margin: auto;
    overflow: hidden;
}

.button_1{
    height: 38px;
    background:rgb(79, 128, 218) ;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

.dark{
    padding: 25px;
    background: rgb(127, 179, 240);
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* header */
header{
    background-color: #ffffff;
    color: #0c0909;
    padding: 10px;
    min-height: 70px;
}

header a{
    color: rgb(14, 14, 12);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

.logo{
    width: 130px;
    margin: 0;
}

header nav{
    float: right;
    margin-top: 30px;
}

header .current a{
    color: #680968;
    font-weight: bold;
}

header a:hover{
    color: rgb(209, 90, 245);
    font-weight: bold;
}

#showcase{
    min-height: 400px;
    text-align: center;
    color: #0a0909;
    background-image: url(capetown3.jpg);
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 30px;
}

#newsletter{
    margin-top: 10px;
    height: 50px;
    padding: 15px;
    color: #ffffff;
    background:rgb(127, 179, 240);
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* sidebar */
aside#sidebar{
    padding: 10px;
    margin-top: 100%;
    float: right;
    width: 20%;
    height: 55px;
    margin: 20px;
}

aside#sidebar2{
    padding: 10px;
    padding-top: 200px;
    margin-top: 20px;
    float: right;
    width: 20%;
    height: 55px;
    margin: 20px;
}

/* main-col*/
article#main-col{
    margin: 50px;
    float: left;
    width: 60%;
}
article#main-col h1{
    margin: 10px;
    float: center;
    text-align: center;
}
/* row */
.row{
    margin: 20px 0;
    transition: .5s;
}
/* column */
.column{
    transition: .5s;
    background:rgb(127, 179, 240) ;
    display: table-cell;
    padding: 10px;
    width: 2%;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    vertical-align: middle;
    border-right: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
}

@media (max-width: 900px)
{
    .column{
        width: 100%;
        display: block;
        margin: 10px 0;
        border: none;
        box-sizing: border-box;
    }
    .row{
        margin: 0;
    }
}

.column:hover{
    color:rgb(79, 128, 218);
    font-weight: bold;
}
footer{
    padding: 20px;
    margin-top: 10px;
    text-align: center;
    color: #0a0a0a;
    background-color: rgb(127, 179, 240);
}

#explore{
    min-height: 200px;
    text-align: center;
}

.btn-box{
    margin-top: 100px;
    box-sizing: 40px;
}

.subscribe-form{
    background-color:rgb(127, 179, 240);
    margin-top: 50px;
    margin-bottom: 50px;
    margin: auto;
    max-width: 90%;
    width: 750px;
}

.subscribe-form h1{
    text-align: center;
    margin-bottom: 24px;
    color: #0a0a0a;
}

.subscribe-form p{
    font-size: 20px;
    margin: 15px;
}

.subscribe-form input{
    font-size: 16px;
    width: 80%;
    padding: 15px 10px;
    border: 0;
    outline: none;
    border-radius: 5px;
}

.subscribe-form button{
    font-size: 15px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 105px;
    border-radius: 5px;
    background: rgb(79, 128, 218);
}




